# === ОС ===
.DS_Store
Thumbs.db
desktop.ini

# === Редакторы / IDE ===
.vscode/
.idea/
*.swp
*.swo
*~

# === Логи и временные файлы ===
*.log
logs/
tmp/
temp/
*.tmp

# === Переменные окружения и секреты ===
.env
.env.*
!.env.example
*.pem
*.key

# === Зависимости ===
node_modules/
vendor/
__pycache__/
*.py[cod]
.venv/
venv/
env/

*.css.map

# === Фронтенд ===
dist/